@mixin event-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: #f3efef;
  p {
    margin: 5px;
  }

  span {
    font-weight: bold;
  }
}

.artist-events {
  @include event-list;
}

.events-now {
  @include event-list;
  border: 2px solid red;
}
