@import './index.scss';

html,
body {
  margin: 0;
  font-family: $font-robo, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}
