@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Michroma&display=swap);

$font-robo: 'Roboto', sans-serif;
$font-bebas: 'Bebas Neue', cursive;
$font-merri: 'Merriweather', serif;
$font-michroma: 'Michroma', sans-serif;

$nav-height: 3rem;

// Breakpoints
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1600px;

$max-sections-width: 50rem;
