@import '../../styles/colors.scss';
@import '../../index.scss';

.CreateEventView {
  background-color: $home-bg;
  color: $home-text;
  margin: 0;
  padding-top: 1rem;
  min-height: 100vh;
  h1 {
    font-family: $font-merri;
    font-weight: 300;
    font-size: 1.6rem;
  }
  h3 {
    font-family: $font-merri;
    font-weight: 300;
  }
}

.CreateEventView_content_form {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;

  text-align: start;
  margin-bottom: 1rem;
  width: 100%;
}

.CreateEventView_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  span {
    align-content: center;
  }
  input {
    border: 1px solid $profile-input-border;
    background-color: $profile-input-bg;
    color: $profile-input-color;
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
    font-family: monospace;
  }
  textarea {
    padding: 0.3rem 0.4rem;
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid $profile-input-border;
    background-color: $profile-input-bg;
    color: $profile-input-color;
  }
}
