@import '../../styles/colors.scss';
@import '../../index.scss';

.CreateEventView {
  background-color: $home-bg;
  color: $home-text;
  margin: 0;
  padding-top: 1rem;
  overflow: scroll;
  h1 {
    font-family: $font-merri;
    font-weight: 300;
    font-size: 1.6rem;
  }
  h3 {
    font-family: $font-merri;
    font-weight: 300;
  }
  &::-webkit-scrollbar {
    width: 0rem;
    height: 0.4rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(78, 77, 77);
    border-radius: 10px;
  }
}

.CreateEventView_content_form {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;

  text-align: start;
  margin-bottom: 1rem;
  width: 100%;
}

.CreateEventView_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  span {
    align-content: center;
  }
  input {
    border: 1px solid $profile-input-border;
    background-color: $profile-input-bg;
    color: $profile-input-color;
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
    font-family: monospace;
    margin-bottom: 0.5rem;
  }
  textarea {
    padding: 0.3rem 0.4rem;
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid $profile-input-border;
    background-color: $profile-input-bg;
    color: $profile-input-color;
  }
}
.event-btn {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: monospace;
  font-size: 1rem;
  align-self: center;
  max-width: 15rem;
}
.right-now-btn {
  background-color: $create-event-now-btn;
  color: $profile-save-button-text;
  margin-bottom: 3rem;
}
.select-location-btn {
  background-color: grey;
  color: white;
  margin-top: 1rem;
}
.create-event-button {
  background-color: $profile-save-button-bg;
  color: $profile-save-button-text;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
