@import '../../styles/colors.scss';
@import '../../index.scss';

.GenreBlob {
  display: inline-block;
  background-color: #f5da00;
  font-weight: 600;
  color: black;
  font-family: $font-robo;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.2rem;
}
