@import '../../styles/colors.scss';
@import '../../index.scss';

.star-rating {
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: $accent-yellow;
  }
  .off {
    color: #ccc;
  }
}
