.CreditCard {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border-radius: 10px;
  width: 100%;
  max-width: 19rem;
  display: inline-block;
  justify-content: space-evenly;
  margin: 0 0.6rem 0;
  background-color: rgb(243, 220, 15);
  color: rgb(61, 61, 61);
  user-select: none;
}
.bank-name {
  margin-left: 1em;
}
.CreditCard > div:first-child {
  text-align: right;
}
.CreditCard > div:last-child {
  text-align: left;
}
.card-number {
  font-size: 2rem;
  margin: 0.7em auto;
}
.type {
  display: inline-block;
  height: 1.25rem;
}
