a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"], a[title="Report problems with Street View imagery to Google"], button[aria-label='Toggle fullscreen view'], .gm-svpc
{
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc,
.gmnoprint.gm-style-mtc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
// moving the map zoom controls
.gmnoprint.gm-bundled-control {
  bottom: 200px !important;
}
