@import '../../styles/colors.scss';

.SearchBar {
  position: absolute;
  top: 2rem;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 2.5rem;
  max-width: 25rem;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  &::placeholder {
    color: #aaa;
    padding-left: 1rem;
  }
}
