@import '../../styles/colors.scss';
@import '../../index.scss';

.SearchListView {
  width: 100%;
  min-height: 100vh;
  background-color: $search-list-bg;
  color: $search-list-text;
  padding: 2.5rem 1.5rem;

  h2 {
    margin-bottom: 1rem;
    font-family: $font-merri;
    text-align: start;
    font-weight: 300;
  }
  input[name='search'] {
    width: 100%;
    border: none;
    border-bottom: 1px solid $search-input-border;
    background-color: $search-input-bg;
    color: $search-input-color;
    font-size: 1.05rem;
    padding: 0.5rem 2.5rem;
    margin-bottom: calc(1rem + 1px);
    &:focus {
      outline: none;
      border-bottom: 2px solid $search-input-focus;
      margin-bottom: 1rem;
    }
  }
}
.input-wrapper {
  position: relative;
  img:first-child {
    display: block;
    position: absolute;
    height: 100%;
    left: 0.65rem;
    top: 0.45rem;
    filter: invert(80%) sepia(47%) saturate(1894%) hue-rotate(6deg)
      brightness(103%) contrast(108%);
    width: 1.3rem;
    height: 1.3rem;
  }
  img:last-child {
    display: block;
    position: absolute;
    height: 100%;
    right: 0.65rem;
    top: 0.45rem;
    filter: invert(80%) sepia(47%) saturate(1894%) hue-rotate(6deg)
      brightness(103%) contrast(8%);
    width: 1.3rem;
    height: 1.3rem;
  }
  img:last-child.d-none {
    display: none;
  }
}
.type-selection {
  display: flex;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0;
  justify-content: space-evenly;
  li {
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: grey;
    &.active {
      color: white;
      font-weight: bold;
    }
    span {
      background-color: transparent;
      font-size: 0.85rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid $search-input-border;
      border-radius: 0.75rem;
      margin-left: 0.5rem;
      &.active {
        background-color: #3c6ef8;
        color: white;
        border: none;
      }
    }
  }
}
