.UserProfileView {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.UserProfileView .UserProfileView__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
