@import '../../styles/colors.scss';
@import '../../style.scss';

.GenreCheckboxHolder {
  display: flex;
  flex-flow: row wrap;
  font-family: $font-robo;

  .GenreBox {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-family: $font-robo;
    border: 1px solid $profile-input-border;
    background-color: $accent-opaque-yellow;
    color: black;
    &.small-blob {
      font-size: 0.75rem;
    }
  }
  .GenreBox-active {
    background-color: $accent-yellow;
    color: black;
  }
  input[type='checkbox'] {
    display: none;
  }
}
