@import '../../styles/colors.scss';
@import '../../style.scss';

.SplitViewOutter {
  margin: 0;
  padding-top: 1rem;
  color: $home-text;
  text-align: center;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  > div:first-child {
    max-width: $max-sections-width;
    margin: 0 auto;
  }
  .event-btn {
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
  }
}

.SplitUser {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
  }
  button:hover {
    color: $accent-yellow;
    background-color: black;
    border: 1px solid $accent-yellow;
  }
}
