@import '../../styles/colors.scss';
@import '../../index.scss';

.HomeView {
  box-sizing: border-box;
  $home-height: calc(100vh);
  background-color: $home-bg;
  color: $home-text;
  min-height: $home-height;
  padding-top: 5.5rem;
  * {
    padding: 0;
    margin: 0;
  }
  h2 {
    margin-bottom: 1rem;
    font-family: $font-merri;
    text-align: start;
    font-weight: 300;
  }
}
.HomeView__section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 10rem;
  margin-bottom: 1.5rem;
}
.HomeView__genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.playingToday {
}
.featured-list,
.playingToday {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  &::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.4rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
  }
}
