.PlayingTodayMini {
  color: white;
  list-style: none;
  margin-right: 1.25rem;
  margin-bottom: 0.55rem;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }
  figcaption {
    font-size: 0.8rem;
    font-weight: normal;
    width: 100%;
    text-align: center;
    color: grey;
  }
}
