@import '../../styles/colors.scss';
@import '../../style.scss';

.TipArtistView {
  background-color: $home-bg;
  width: 100%;
  height: 100;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  align-items: center;
  // justify-content: space-evenly;
  color: $home-text;
  h2:first-child {
    font-family: $font-merri;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0rem;
    padding-top: 2rem;
  }
  .artist-info {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img {
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;
      max-width: 13rem;
      max-height: 13rem;
      clip-path: circle();
    }
    h2 {
      font-family: $font-michroma;
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
      margin-top: 0rem;
      padding-top: 2rem;

      margin-bottom: 0;
    }
    em {
      display: block;
      font-size: 1rem;
      text-align: center;
      margin: 1rem 0;
    }
  }
  .tip-btn {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: $home-text;
    color: $home-bg;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    max-width: 15rem;
    margin-top: 2rem;
    &:hover {
      background-color: $home-bg;
      color: $home-text;
      border: 1px solid $home-text;
    }
  }
  .tip-successful {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    color: rgb(54, 207, 54);
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    max-width: 15rem;
    margin-top: 2rem;
    cursor: not-allowed;
  }
  .tip-again {
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: white;
      color: red;
    }
  }
  .tip-amount {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: center;
    gap: 0.5rem;
    > button {
      border: 0;
      padding: 0.5rem 1rem;
      background-color: rgb(233, 231, 231);
      color: black;
      flex: 0 0 25%;
      border-radius: 0.5rem;
      // margin: 0.5rem;
    }
    .tip-active {
      background-color: $accent-yellow;
      color: $home-bg;
      font-weight: 600;
    }
    margin-bottom: 2rem;
  }
  .tip-warning {
    color: grey;
    text-align: center;
    padding: 0;
    font-size: 0.85rem;
    margin-top: 1rem;
    max-width: 18rem;
  }
  button.disabled-tip-btn {
    background-color: grey;
    color: $home-bg;
    border: 1px solid grey;
    cursor: not-allowed;
  }
  .no-method {
    color: white;
    a {
      box-sizing: border-box;
      margin-top: 1rem;
      display: inline-block;
      font-size: 1.2rem;
      color: rgb(57, 207, 57);
      margin-bottom: 1px;
      &:hover {
        margin-bottom: 0px;
        border-bottom: 1px solid white;
      }
    }
  }
}
