.FeaturedMini {
  color: white;
  list-style: none;
  max-width: 100%;
  max-height: 10rem;
  img {
    // make image fit constrains
    width: 12rem;
    height: 8rem;
    border-radius: 7px;
    object-fit: cover;
  }
  figcaption {
    // make caption fit constrains
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: grey;
    &:hover {
      color: white;
    }
  }
  * &:hover {
    filter: brightness(1.2);
  }
  margin-bottom: 1rem;
}
