@import '../../styles/colors.scss';
@import '../../index.scss';

.BottomNavbar {
  width: 100%;
  height: $nav-height;
  backdrop-filter: blur(2px);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  > div:first-child {
    padding-top: 0.2rem;
    width: 100%;
    height: 100%;
    max-width: $max-sections-width;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }
}
.active-profile {
  color: $profile-text;
  background-color: transparent;
  backdrop-filter: blur(2px);
}
.active-profile-artist {
  color: $profile-text;
  background-color: #feb346;
}
.active-home {
  background-color: $home-bg;
  color: $home-text;
}
.active-explore {
  background-color: transparent;
  color: $search-text;
  backdrop-filter: blur(2px);
}

.circle {
  width: 1.35rem;
  height: 1.35rem;
  border-radius: 50%;
  margin-bottom: 0.25rem;
  background-color: $bottom-nav-circle;
}

.button-wrapper {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.circle-live {
  background-color: $bottom-nav-circle-live;
}
