$bottom-nav-circle: #afadad;
$bottom-nav-text: #333;
$bottom-nav-text-hover: #fff;
$bottom-nav-bg: #fff;
$bottom-nav-circle-live: #f00;

$profile-noavatar-bg: rgb(196, 196, 196);
$profile-noavatar-text: rgb(126, 126, 126);
$profile-save-button-bg: rgb(0, 126, 0);
$profile-save-button-text: rgb(255, 255, 255);
$profile-input-border: #444;
$profile-input-bg: rgb(77, 77, 77);
$profile-input-color: rgb(202, 202, 202);
