$home-bg: #121318;
$home-text: #fff;

$accent-yellow: #f5da00;
$accent-opaque-yellow: #e9e2b2;

$accent-red: #740606;

$bottom-nav-circle: #afadad;
$bottom-nav-text: #333;
$bottom-nav-text-hover: #fff;
$bottom-nav-bg: rgba(255, 255, 255, 0.1);
$bottom-nav-circle-live: #f00;

$search-bg: #fff;
$search-text: #333;

$profile-bg: #fff;
$profile-text: #333;
$profile-noavatar-bg: rgb(196, 196, 196);
$profile-noavatar-text: rgb(126, 126, 126);
$profile-save-button-bg: rgb(0, 126, 0);
$profile-save-button-text: rgb(255, 255, 255);
$profile-input-border: #444;
$profile-input-bg: rgb(77, 77, 77);
$profile-input-color: rgb(202, 202, 202);

$create-event-now-btn: $bottom-nav-circle-live;

$search-list-bg: $home-bg;
$search-list-text: $home-text;
$search-input-border: #444;
$search-input-focus: rgb(194, 194, 194);

$search-input-bg: transparent;
$search-input-color: $profile-input-color;
